<article>
    <h2>{{produto.id}} - {{produto.nome}}</h2>
    <p><strong>Categoria: </strong>{{produto.categoria}}</p>
    <p><strong>Estoque:</strong> {{produto.estoque}} unidades</p>
    <a href="#">Finalizar compra</a><br>
    <a href="/">Voltar para a página inicial</a>
</article>
